#main
  #header
    include inc/header
  #content
    h2 Download
    hr
    br
    | Follow the link to download the latest stable release:
    br
    br
    pre
      a(href='/Settlers.jar') Settlers.jar
      |  (#{strftime(mtime, "%c")})
    br
    | Or clone a <a href='http://github.com/udalov/settlers'>GitHub repo</a> to build from source.<br/>
  #footer
