#main
  #header
    include inc/header
  #content
    h2 Description
    hr
    | <b>Settlers Online</b> is an AI challenge system based on the board game <a href="http://www.catan.com/">The Settlers of Catan</a>.<br/>
    | Players implement their strategy of playing the game by writing a bot.<br/>
    | The system is implemented in Java and allows offline usage. Online submission processor and scoring system are in development.<br/>
    br
    | Stay tuned and feel free to participate!<br/>
  #footer
