#main
  #header
    include inc/header
  #content
    h2 Description
    hr
    | <b>Settlers</b> is an AI challenge system based on the board game <a href="http://www.catan.com/">The Settlers of Catan</a>.<br/>
    | Players implement their strategy of playing the game by writing a bot.<br/>
    | Currently the system is written in Java and allows offline usage only.<br/>
    br
    | Feel free to participate!<br/>
  #footer
