#main
  #header
    include inc/header
  #content
    h2 Submit
    hr
    br
    | Submit your solution (single .java file):
    form(enctype="multipart/form-data", method="post")
      input(type="file", name="file")
      input(type="submit")
    br
    | Submissions:
    br
    table#submissions
      tr
        th Time
        th Source
        th Status
        th Errors
      for submission in submissions
        tr
          td #{strftime(submission.date, "%d.%m.%g %H:%M:%S")}
          td: a(href="/submission/" + submission._id) view
          if (submission.status == 1)
            td.compiling compiling...
          else if (submission.status == 2)
            td.error error
          else if (submission.status == 3)
            td.ok ok
          else
            td.waiting waiting
          td
            if (submission.status == 2)
              a(href="/compilation-error/" + submission._id) view
    br

  #footer

